<h1></h1>
    <div class="row mt-4 ml-4">
        <a href="/storages" class="btn btn-primary mr-4">Trở lại</a>
        <h5 class="mr-4 font-bold">Tên kho: {{storage.tenkho}}</h5>
        <h5 class="ml-4 font-bold">Địa chỉ: {{storage.diachi}}</h5>
        <table class="table mt-4">
            <thead>
                <tr>
                <th scope="col" class=" font">Tiền điện</th>
                <th scope="col" class=" font">Tiền nước</th>
                <th scope="col" class=" font">Tiền mặt bằng</th>
                <th scope="col" class=" font">Tổng chi phí</th>
                <th scope="col" class=" font">Mô tả</th>
                </tr>
            </thead>
            <tbody>
              <tr>
                <td class=" font">{{storage.tiendien}}</td>
                <td class=" font">{{storage.tiennuoc}}</td>
                <td class=" font">{{storage.tienmatbang}}</td>
                <td class=" font">{{storage.tongchiphi}}</td>
                <td class=" font">{{storage.mota}}</td>
            
              </tr>
                
            </tbody>
            
        </table>
    </div>

